html {
    width: 100%;
    height: 100%;
    color: #000;
    /* background: url('../img/main-back.jpg'); */
    min-width: 1000px
}
input, button, a{
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
a:hover {
    text-decoration: none !important
}

.header .numbers{
    height: 100%;
    height: 131px;
}
.numbers {
    margin: 0 0 0 15px;
    font: bold 13px/18px 'Verdana';
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.numbers span {
    font: bold 15px/18px 'Trebuchet MS';
    color: #ffffff;
}

.numbers li {
    float: left;
    /* margin: 0 16px 0 0;
    padding: 3px 0 0 20px; */
    min-height: 20px;
    text-align: right;
    margin-bottom: 5px;
}
.numbers li:last-child{
    margin-bottom: 0;
}
.numbers li.velcom {
    background: url('../img/velcom-logo.png') 0 center no-repeat;
    background-size: contain;
    padding-left: 35px;
}

.numbers li.mts {
    padding: 3px 0 0 15px;
    background: url('../img/mts-logo.gif') 0 center no-repeat;
    background-size: 17px;
    margin-left: 5px;
}

.numbers li.life {
    padding: 2px 0 0 23px;
    background: url('../img/life-logo.gif') 0 center no-repeat
}

.intro-text {
    float: left;
    margin: 10px 0 0 12px;
    font: 12px 'Arial';
    color: #fff
}

.intro.basket-active {
    height: 50px
}

.intro.basket-active .intro-text {
    margin: 11px 0 0 12px
}


.numbers {
    float: left;
    clear: none;
    margin: 0;
}
.basket-active .basket-items span {
    color: #f58a38!important;
}

.basket-items {
    float: right;
    display: block;
    padding: 0 20px 0 20px;
    margin: 0 0 0 20px;
    height: 20px;
    background: url('../img/shopping-cart.svg') left center no-repeat;
    font: 14px/22px 'Arial';
    color: #d4c9bf;
    height: 40px;
    line-height: 40px;
}
.pop .basket-items{
    float: unset;
    background: unset!important;
    height: auto;
    line-height: 25px;
    margin-left: 0;
    padding: 0!important;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.wrapper {
    margin: 0 auto;
    width: 1140px;
    background-color: #fff;
    padding-top: 0!important;
}

.header {
    height: 131px;
    background: #000 url("../img/header-bg.jpg") no-repeat center center/cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}
.header-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header .logo a{
    display: inline-block;
    position: relative;
    z-index: 10;
}
.header .logo a::after{
    content: "";
    height: 250px;
    width: 250px;
    background: #ffffff;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 9px 11px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 11px -10px rgba(0,0,0,0.75);
}
.header .logo img{
    max-height: 110px;
    position: relative;
}

.main-menu {
    min-height: 40px;
    background: #e83a3a;
    padding: 0 30px;
}

.menu-button {
    display: none;
    height: 40px;
    background: #e83a3a;
    border-top: 1px solid #fff;
    overflow: hidden;
    font: 17px/40px 'Arial';
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer
}

.main-menu li {
    float: left
}

.main-menu li a {
    display: block;
    padding: 0 19px 0 19px;
    font: 17px/40px 'Arial';
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.45px;
}

.main-menu li a:hover {
    background: #fff;
    color: #BE2C2C
}

.submenu {
    display: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px;
    height: 30px;
    background: #131212;
}

.submenu li {
    float: left;
    margin: 0 4px
}

.submenu li a {
    display: block;
    padding: 0 19px 0 19px;
    height: 30px;
    font: 13px/30px 'Arial';
    color: #fff;
    -webkit-transition: unset;
    transition: unset;
}

.submenu li a:hover {
    background: #ffffff;
    color: #000000;
    border-bottom: 1px solid #000000;
}

.main {
    margin: 19px 0 15px 0;
    clear: both
}

.main .content {
    float: left;
    padding: 20px 0!important;
    width: 100%;
    background-color: #ffffd6;
    font: 14px/18px 'Arial';
    color: #000
}


.main .content > img {
    margin: 18px 0 14px 0;
    max-width: 100%
}

.main .content > a > img {
    margin: 18px 0 14px 0;
    max-width: 100%
}

.main .content-menu {
    margin: 19px 0 0 0;
    text-align: center;
}

.main .content-menu li {
    display: inline-block;
    vertical-align: top;
    margin: 0 16px 0 0
}

.main .content-menu li img {
    display: block
}

.main .content .bigger {
    font: 16px/18px 'Arial';
    color: #000
}

.main .sidebar, .main .sidebar-fix {
    float: left;
    margin: 17px 0 0 0;
    width: auto;
    background: #e83a3a;
    border: none;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 0 0 30px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.main .sidebar .social {
    margin: 5px 0 0 15px;
    overflow: hidden
}

.main .sidebar .social li {
    float: left;
    margin: 0 12px 0 0;
    width: 32px;
    height: 31px
}

.main .sidebar .social li a {
    display: block;
    width: 100%;
    height: 100%

}

.main .sidebar .social li.vk {
    background: url('../img/social.gif') 0 0 no-repeat
}

.main .sidebar .social li.fb {
    background: url('../img/social.gif') -44px 0 no-repeat
}

.main .sidebar .social li.google {
    background: url('../img/social.gif') -88px 0 no-repeat
}

.main .sidebar .social li.odnoklassniki {
    background: url('../img/social.gif') -132px 0 no-repeat
}

.main .sidebar .social li.twitter {
    background: url('../img/social.gif') -176px 0 no-repeat
}
.sidebar #promocode-form{
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sidebar-items{
    display: none;
}
.sidebar-menu {
    margin: 0px;
}
.sidebar strong, #miniForm strong{
    display: block;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin-top: 25px;
    background: rgba(228, 56, 56, 1);
}
#miniForm strong{
    margin: 0 0 -10px 0;
}
#miniForm{
    margin: 0!important;
    display: block!important;
}
.sidebar-menu li {
    border-bottom: 1px solid #e2e2e2;
    width: 252px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.sidebar-menu li:first-of-type{
    border-top: 1px solid #e2e2e2;
}
.sidebar-menu li:hover {
    border-bottom: 1px solid rgb(43, 41, 40);
    background: #FFF;

}
.sidebar-menu li:hover a, .sidebar-menu li.active a {
    color: #000000;
}
.sidebar-menu li.active {
    border-bottom: 1px solid rgb(43, 41, 40);
    background: #FFF;
    color: #000000;
}


.sidebar-menu li a {
    white-space: nowrap;
    display: block;
    padding: 0 15px;
    height: 52px;
    font: 14px/52px 'Arial';
    color: #ffffff;
}

.sidebar-menu li a img {
    display: none;
}

.sidebar-banner {
    display: block;
    margin: 35px 0 0 15px
}

.footer {
    height: 61px;
    background-color: #000
}

.copyright {
    float: left;
    margin: 22px 0 0 0;
    padding: 0 20px 2px 20px;
    font: 14px 'Arial';
    color: #fff;
    letter-spacing: 1px
}

.footer #search-form {
    float: right;
    margin: 20px 20px 20px 0
}

.footer #search-query {
    display: block;
    float: left;
    margin: 0 4px 0 0;
    padding: 0 10px;
    height: 24px;
    width: 174px;
    background-color: #fff;
    border-radius: 2px;
    border: 0;
    font: 12px/20px 'Arial';
    color: #000;
}
.footer #search-query:focus{outline-color: #BE2C2C;}

.footer #search-button {
    display: block;
    float: right;
    padding: 0;
    border: 0;
    height: 24px;
    width: 50px;
    cursor: pointer;
    background: #BE2C2C;
    color: #fff;
    border-radius: 2px;
    margin-left: 2px;
}
.footer #search-button :hover {background: #9D2424;}
.main.inner {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main.inner .breadcrumbs {
    clear: both;
    overflow: hidden;
    margin: 0 0 0 28px
}

.main.inner .content {
    margin: 0px;
    background: 0;
    font: 14px/22px 'Arial';
    color: #000;
    text-align: justify;
}
.main.inner .content.news p{
    font: 16px/22px 'Arial' !important;

}
.main.inner .content.news p a{
    display: block;
    padding: 0 0 1px 30px !important;
    font-size: 20px !important;
    line-height: 1 !important;
    color: #BE2C2C;
    background: url(../img/phone.png) no-repeat center left;
    background-size: 20px;
}
.main.inner .content.news p a:hover{text-decoration: underline !important;}

.main.inner .breadcrumbs li {
    float: left;
    margin: 0px 3px 0 2px;
    font: 11px 'Arial';
    color: #999;
    letter-spacing: 0.3px;
}

.main.inner .breadcrumbs li a {
    color: #000;
    text-decoration: underline
}

.main.inner .content img {
    /* float: left; */
    margin: 11px 0 10px 0;
}
.main.inner .content p a img {
    width: 620px !important;
    height: 250px !important;
}

.main.inner .content .content-menu img {
    margin: 0
}
.content .news{
    margin-top:10px;
}
.main.inner .content.news p {
    margin: 0 0 2px 0;
    font: 14px/21px 'Times New Roman';
    text-indent: 10px;
}
.main.inner .content.news p>span {

    font: 18px/21px 'Times New Roman'!important;
}


.main.inner .sidebar {
    margin: 20px 0 0 20px
}

.main .content.category {
    padding: 0 0 20px 0;
    width: 100%;
}

.content.category .category-intro {
    padding: 20px;
    background-color: #ffffd6;
    overflow: hidden
}

.content.category .category-intro p {
    font: 11px/18px 'Arial';
    color: #000
}

.goods-list {
    margin: 18px 0 50px 0
}

.goods-list>li {
    position: relative;
    margin: 10px 0;
    padding: 0px 0 20px 0;
    overflow: hidden;
    background: #f3eded;
}

.goods-list li .title {
    display: block;
    padding: 0 10px;
    margin: 0 15px;
    float: left;
    font: 21px/43px 'Arial';
    color: #ffffff;
    text-align: center;
    /* border-bottom: 2px dotted rgb(142, 216, 255); */
    /* border-radius: 10px; */
}
.goods-list li .title:hover {
    text-decoration: underline!important;
}
.goods-list li > .left {
    float: left;
    margin: 16px 0 0 48px;
    width: 185px;
    clear: both;
}

.goods-list li .img-wrap {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* background: url('../img/img-wrap.png') */
}

.main.inner .content.category .img-wrap img {
    margin: 0;
    border-radius: 17px;
    width: 300px;
}

.main.inner .content.category .watch-video {

    margin: -2px 0 0 15px;
}

.goods-list li > .right {
    float: right;
    margin: 19px 0 0 0;
    width: 60%;
}

.goods-list li .table {
    float: left;
    margin: 0 0 8px 0;
    text-align: center;
}

.goods-list li .table ul {
    margin: 2px 0 0 -3px
}

.goods-list li .table-title {
    margin: 0;
    font: bold 12px 'Arial';
    color: #000
}

.goods-list .table li {
    overflow: hidden;
    padding: 0;
    clear: both;
    width: 150px;
    height: 27px;
    border-bottom: 1px solid #c6cdd3;
}

.goods-list .table li>p {
    float: left;
    font: 16px/30px 'Arial';
    color: #000
}

.goods-list .table li p.name {
    width: 110px;
}

/* .goods-list .table li.item1 {
    background: url('../img/table-items.gif') 12px 6px no-repeat
}

.goods-list .table li.item2 {
    background: url('../img/table-items.gif') 12px -23px no-repeat
}

.goods-list .table li.item3 {
    background: url('../img/table-items.gif') 12px -50px no-repeat
}

.goods-list .table li.item4 {
    background: url('../img/table-items.gif') 12px -79px no-repeat
}

.goods-list .table li.item5 {
    background: url('../img/table-items.gif') 12px -107px no-repeat
} */

.goods-list .add-wrap {
    float: right;
    margin: 0 24px 0 0;

}

.goods-list .item-code {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 0px 0 0;
    text-align: right;
    padding-right: 0;
    background: #a22626;
    /* clear: both; */
    color: #fff;
    border-bottom: 1px solid #666;
}

.goods-list .item-code p {
    margin: 0
}

.goods-list .item-code p.number {
    font: 14px 'Arial';
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 24px;
}

.goods-list .item-code p.code-title {
    margin-top: -6px;
    font: 12px 'Arial';
    display: inline-block;
}

.goods-list .counter, #basketPopup .counter {
    /* float: right; */
    margin: 0 auto;
    width: 73px;
    height: 20px;
    border-radius: 3px;
    background: url('../img/counter.png') 0 0 no-repeat;
}

.goods-list .counter .minus, #basketPopup .counter .minus {
    display: block;
    float: left;
    margin: 2px 0 0 3px;
    width: 16px;
    height: 15px;
    cursor: pointer
}

.goods-list .counter .plus, #basketPopup .counter .plus {
    display: block;
    float: right;
    margin: 2px 3px 0 0;
    width: 16px;
    height: 15px;
    cursor: pointer
}

.goods-list .counter .counter-value, #basketPopup .counter .counter-value {
    display: block;
    float: left;
    margin: 2px 0 0 8px;
    background: 0;
    border: 0;
    width: 20px;
    height: 15px;
    text-align: center;
    font: 12px 'Arial';
    color: rgb(102, 102, 102)
}

.goods-list .table  .value {
    color: #000;
    font-weight: bold;
}

.goods-list .descr {
    position: relative;
    clear: both;
    padding-left: 5px;
    text-align: justify;
    padding: 10px;
}

.goods-list p.price {

    text-align: center;
    font: bold 18px 'Arial';
    color: #3d4647;
}

.goods-list .descr p {
    margin: 0 24px;
    font: 15px/20px 'Arial';
    color: #333;
}

.fancybox-title iframe {
    min-height: 30px;
    vertical-align: middle
}

.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    border-radius: 4px
}

.fancybox-opened {
    z-index: 8030
}

.fancybox-opened .fancybox-skin {
    padding-bottom: 5px !important;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}

.fancybox-outer,.fancybox-inner {
    position: relative
}

.fancybox-inner {
    overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}

.fancybox-image,.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}

#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {
    background-image: url('../img/fancybox-sprite.png')
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../img/fancybox-loading.gif') center center no-repeat
}

.fancybox-close {
    display: none;
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}

.fancybox-nav {
    display: none;
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../img/blank.gif');
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040
}

.fancybox-prev {
    left: 0
}

.fancybox-next {
    right: 0
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}

.fancybox-nav:hover span {
    visibility: visible
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important
}

.fancybox-lock {
    overflow: hidden
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../img/fancybox-overlay.png')
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
    margin-left: 10px
}

.fancybox-title-inside-wrap br {
    margin: 0 0 10px 0;
    display: block
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8)
}

.main .content.item {
    padding: 0;
    margin-top: 13px;
    width: 100%;
}

.main.inner .content.item .img-wrap img {
    border-radius: 17px;
    width: 300px;
}

.main.inner .content.item .watch-video {
    display: block;
    margin: -2px 0 0 32px
}

.main.inner .content.item {
    margin-top: 0
}

.main.inner .goods-list {
    margin-bottom: 16px;
    margin-top: 6px
}

.goods-list > div {
    position: relative;
    margin: 0 0 15px 0;
    padding: 15px 0 20px 0;
    background-color: #F1FAFF;
    border-bottom: 1px dotted rgb(193, 187, 167);
    overflow: hidden
}

.goods-list > div .title {
    display: block;
    padding: 0 10px;
    margin: 0 15px;
    font: 21px/41px 'Arial';
    color: rgb(30, 54, 88);
    text-align: right;
    background: url('../img/stripe.png');
    border-bottom: 2px dotted rgb(142, 216, 255);
    border-radius: 10px
}

.goods-list > div > .left {
    float: left;
    margin: 16px 0 0 48px;
    width: 185px
}

.goods-list > div .img-wrap {
    width: 178px;
    height: 178px;
    background: url('../img/img-wrap.png')
}

.goods-list > div > .right {
    float: right;
    margin: 19px 0 0 0;
    width: 447px
}

.goods-list > div .table {
    float: left;
    margin: 0 0 8px 0
}

.goods-list > div .table ul {
    margin: 2px 0 0 -3px
}

.goods-list > div .table-title {
    margin: 0;
    font: bold 12px 'Arial';
    color: #000
}

.content.item .item-video iframe {
    border: 0;
    width: 100%;
    height: 360px !important
}

.content.news iframe {
    border: 0;
    width: 100%
}

.similar-items {
    margin: 24px 5px 35px 0
}

.similar-items p.title {
    margin: 0 0 11px 0;
    padding: 0 0 0 25px;
    font: bold 12px 'Arial';
    color: rgb(0, 51, 0)
}

.similar-items li {
    margin: 0 0 6px 0;
    margin-bottom: 10px;
}
.similar-items li:last-of-type{
    margin-bottom: 0;
}
.similar-items li a {
    display: block;
    min-height: 50px;
    padding: 10px 10px 20px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #cfcfcf;
}

.similar-items li a:hover {
    border-bottom: 1px solid #BE2C2C;
}

.main.inner .content .similar-items li img {
    float: left;
    margin: 0 20px 0 0;
    height: 50px
}

.main.inner .content .similar-items .name {
    display: block;
    font: 18px/22px 'Arial';
    color: #000
}

.main.inner .content .similar-items .price {
    display: block;
    margin: 6px 0 0 70px;
    font: bold 15px/18px 'Arial';
    color: rgb(0, 0, 0);
}

.main .content.basket {
    padding: 0;
    margin-top: 10px;
    width: 100%;
}
.catal {
    font: 18px/25px 'Arial';
    color: black;
    text-align: center;
    margin: 0px 0px 0 0;
    padding-right: 0;
    background: #a22626;
    clear: both;
    color: #fff;
    border-bottom: 1px solid #666;}
.main .content.basket.empty .basket-wrap {
    display: none
}

.basket-wrap {
    position: relative;
    margin: 0 0 0px 0;
    padding: 0px 0 12px 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden
}

.basket-wrap p.title {
    display: block;
    padding: 0 10px;
    margin: 0 39px 0 15px;
    font: 21px/41px 'Arial';
    color: rgb(0, 0, 0);
    text-align: left;
    border-radius: 10px;
}

.main .content .basket-table {
    margin: 14px 23px 0 0
}

.main .content .basket-table li {
    overflow: hidden;
    background-color: #f7f7f7;
    border-bottom: 1px solid #f3eded;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main .content .basket-table li.last{
    padding-right: 5px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.main .content .basket-table li.table-head {
    height: 33px;
    background-color: #a22626;
    color: #ffffff;
}

.main .content .basket-table p {
    float: left;
    margin: 0;
    height: 40px;
    font: 12px/32px 'Arial';
    color: #000;
    text-align: left
}

.main .content .basket-table li.table-head p {
    font: bold 12px/32px 'Arial';
    color: #ffffff
}

.main .content .basket-table .table-head p {
    height: 32px
}

.main .content .basket-table p.number {
    width: 33px;
    text-align: center;
}
.main .content .basket-table li p.name a{
    color: #000000;
    font-weight: 700;
}
.main .content .basket-table li.table-head p.delete{
    margin-right: 5px;
}
.main .content .basket-table li.table-head p.number {
    background: 0
}

.main .content .basket-table p.code {
    width: 83px;
    padding: 0 0 0 10px
}

.main .content .basket-table p.name {
    width: 199px
}

.main .content .basket-table p.price {
    width: 100px
}

.main .content .basket-table p.count {
    width: 93px
}

.main .content .basket-table p.summ {
    width: 100px
}

.main .content .basket-table p.delete {
    width: 53px
}

.basket-table .counter {
    display: block;
    margin: 10px 0 0 0;
    width: 73px;
    height: 20px;
    border-radius: 3px;
    background: url('../img/counter.png') 0 0 no-repeat
}

.basket-table .counter .minus {
    display: block;
    float: left;
    margin: 2px 0 0 3px;
    width: 16px;
    height: 15px;
    cursor: pointer
}

.basket-table .counter .plus {
    display: block;
    float: right;
    margin: 2px 3px 0 0;
    width: 16px;
    height: 15px;
    cursor: pointer
}

.basket-table .counter .counter-value {
    display: block;
    float: left;
    margin: 2px 0 0 8px;
    background: 0;
    border: 0;
    width: 20px;
    height: 15px;
    text-align: center;
    font: 12px 'Arial';
    color: rgb(102, 102, 102)
}

.basket-table .delete-button {
    display: block;
    margin: 10px auto 0 auto;
    height: 16px;
    width: 16px;
    background: url('../img/delete.png') 0 0 no-repeat;
    cursor: pointer
}

.main .content .basket-table p.all-summ {
    float: right;
    margin: 9px 41px 0 0;
    font: bold 12px 'Arial';
    color: rgb(102, 102, 102)
}

.main .content .basket-table p.all-summ span {
    font: bold 16px 'Arial';
    color: rgb(226, 80, 0)
}

.main .content .basket-table li.last p {
    height: 25px
}

#info-form {
    overflow: hidden
}

#info-form .form-title {
    margin: 13px 0 0 15px;
    font: 14px 'Arial';
    line-height: 16px;
    color: #000
}

#info-form .form-left {
    float: left;
    margin: 8px 0 0 15px;
    width: 412px
}

#info-form .input-wrap {
    margin: 0 0 10px 0;
    clear: both;
    overflow: hidden
}

#info-form .input-wrap span {
    display: block;
    float: left;
    width: 71px;
    font: 14px/10px 'Arial';
    line-height: 16px;
    color: #000
}

#info-form .input-wrap .info-field {
    display: block;
    float: left;
    padding: 6px 5px;
    margin: 1px 0 0 0;
    border: 1px solid rgba(158, 158, 158, 0.59);
    font: 12px/20px 'Arial';
    color: #000
}

#info-form .input-wrap #name-query {
    width: 326px
}

#info-form #code-query {
    width: 120px;
    outline: 0;
    background: #fff;
    text-align: left;
    padding: 6px 0px;
}

#info-form #number-query {
    margin: 0px 0 0 15px;
    width: 191px;
}

#info-form #city-query {
    width: 120px;
    outline: 0;
    background: #fff;
    text-align: left;
    padding: 6px 5px;
}

#info-form #address-query {
    margin: 0px 0 0 15px;
    width: 191px;
}

#info-form .input-wrap #time-query {
    width: 266px;
}

#info-form .form-right {
    float: none;
    margin: 179px 20px 6px 14px;
    width: auto;
}

#info-form .form-right .info-field#comment-query {
    float: none;
    display: block;
    clear: both;
    margin: 24px 0 0 0;
    padding-right: 0;
    width: 658px;
    height: 124px;
    resize: none;
}

#info-form .form-bottom {
    width: 244px;
    position: absolute;
    right: 25px;
    bottom: 230px;
}

#info-form .form-bottom .text {
    float: left;
    margin: 0;
    width: auto;
    font: 15px/18px 'Tahoma';
    color: #000;
    text-align: center;
}

#info-form #info-button {
    display: block;
    float: right;
    margin: 10px 29px 0 0;
    width: 187px;
    height: 48px;
    background: url("../img/checkout.png") 0 0 no-repeat;
    font: bold 16px/48px 'Arial';
    text-align: center;
    color: rgb(56, 54, 3);
    text-shadow: 0px 1px 1px rgb(255, 255, 255)
}

#info-form #info-button:hover {
    background-position: 0px -48px
}



.basket-empty {

    padding: 0 0 0 28px;
    height: 55px;
    width: 672px;
    background-color: rgb(241, 250, 255);
    font: bold 16px/55px 'Arial'
}

.main .content.basket.empty .basket-empty {
    display: block
}

#basketPopup, #basketPopup2 {display: none;}

.pop {

    font-family: Verdana,Geneva,sans-serif;
    text-align: center;
    position: fixed;
    display: inline-block;
    top: 1%;
    z-index: 1000;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

#basketPopup2 .basket-popup {
    height: 560px;
    margin-top: -10px;
    padding: 15px;
    top: 10%;
}

.basket-popup-fixed {
    background-color: rgba(0,0,0,0.6);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
}

.basket-popup .img-wrap {
    float: left;
    width: 178px;
    height: 178px;
    background: url('../img/img-wrap.png')
}

.basket-popup .img-wrap img {
    margin: 14px 0px 0px 1px;
    border-radius: 17px;
    width: 150px
}

.btn-basket-popup {
    position: absolute;
    right: -20px;
    top: -40px;
    cursor: pointer;
}

.basket-popup .text {
    padding: 10px;
    margin-left: 200px;
    background-color: rgb(241, 250, 255);
    width: 400px;
    border-radius: 20px;
    position: relative;
    font: 16px 'Arial'
}
.pop .inner {color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.pop .inner a {color: #000000;}
.pop .text {width: 100%;
    border-radius: 0px;
    position: relative;
    font: 16px 'Arial';
    color: #353433;
    background-color: #f3eded;
    border-color: #f3eded;
    padding: 12px 0px 10px 0px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 6px;}
.buy .add-to-basket	{
    padding: 2px 8px;
    background: #8BC34A;
    color: white;
    margin-left: 8px;
    border-radius: 4px;
    display: inline-block;
}
#basketPopup2 .text {

    width: 100%;
    border-radius: 0px;
    position: relative;
    font: 16px 'Arial';
    color: #353433;
    color: #353433;
    background-color: #f3eded;
    border-color: #f3eded;
    padding: 12px 0px 10px 0px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 6px;
}

.basket-popup .intro-basket {
    margin-bottom: 10px;
}

.basket-popup .buy {
    padding: 4px;
    margin-left: 200px;
    position: relative;
}

.basket-popup .buy .counter, .basket-popup .buy .add-to-basket {
    float: left;
}

.basket-popup .buy .add-to-basket {
    margin-left: 20px;
}

.basket-popup .close-window {
    float: left;
    margin: 20px 0 0 25px;
    font: bold 12px 'Arial';
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: #990000;
    padding: 15px 20px;
    border-radius: 5px;
}

.basket-popup .add-to-basket {
    float: left;

    font: bold 12px 'Arial';
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: #2ecc71;
    padding: 3px 20px;
    border-radius: 5px;
}
.basket-popup .close-window:hover {
    background-color: #bd1414;
}
.basket-popup .make-order {
    float: left;

}
.basket-popup .make-order:hover{

}

.submenu-select {
    display: none;
    max-height: 300px
}

.jq-selectbox {
    max-height: 300px;
    display: none !important;
    margin: 1px 0 0 0;
    width: 100%;
    background-color: white;
    height: 30px;
    font: bold 12px/28px Arial;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px #888;
    box-shadow: 0 1px 2px #888
}

.jq-selectbox.opened {
    border: 1px solid #000
}

.jq-selectbox__select {
    height: 30px;
    cursor: pointer;
    background: url('../img/select-arrow.gif') right 13px no-repeat
}

.jq-selectbox__dropdown {
    z-index: 100;
    top: 30px !important;
    left: 0;
    right: 0
}

.jq-selectbox__dropdown ul {
    padding: 2px 0 0 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    border: 1px solid #758b9e;
    border-radius: 2px
}

.jq-selectbox li {
    margin: 2px 0 0 0;
    padding: 2px 0 6px 0px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    font: bold 12px/20px Arial
}


/* Дополнения */

#promocode-form input[type="text"]{
    padding: 0 10px;
    width: 130px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #BE2C2C;
}
#promocode-form input[type="text"]:focus{outline-color: #BE2C2C;}
#promocode-form input[type="submit"]{
    width: 100px;
    height: 27px;
    border-radius: 2px;
    background: #BE2C2C;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}
#promocode-form input[type="submit"]:hover{background: #9D2424;}

#contact-form{
    margin-top: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#contact-form a{
    display: inline-block;
    padding-right: 25px;
    color: #BE2C2C;
    background: url(../img/phone.png) no-repeat right 2px;
    background-size: 16px;
}
#contact-form a:hover{text-decoration: underline;}
#contact-form h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
#contact-form td{padding-bottom: 7px}
#contact-form td a{
    padding: 0;
    background: none;
}
#contact-form td div img{margin-bottom: 0;}
#contact-form input{
    padding: 0 10px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #F66464;
}
#contact-form textarea{
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #F66464;
}
#contact-form input[type="text"]:focus,
#contact-form textarea:focus{outline-color: #BE2C2C;}
#contact-form input[type="submit"]{
    width: 100px;
    height: 27px;
    border-radius: 2px;
    background: #BE2C2C;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}
#contact-form input[type="submit"]:hover{background: #9D2424;}
/* /Дополнения */
.btn-youtube  {
    margin: 10px 0 0 0px !important;
    font: bold 12px 'Arial';
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: rgba(255,255,255,0);
    padding: 0px 10px;
    border-radius: 5px;
}
.btn-youtube:hover {background-color: #d8362a;}
.btn-youtube span, .goods-list .add-to-basket span {
    color: #000;
    display: block;
    margin: -33px 0px 0px 44px;
    float: left;
}
.btn-youtube:hover span {
    color: #fff;
}
.btn-youtube img, .goods-list .add-to-basket img {display: block; width: 30px}



.goods-list .more {
    display: none;
}
.butto {
    float: left;
    margin-top: 6px;
    width: 100%;

}
.button {
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f2f2f2));
    background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #8c8c8c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 11px 18px 11px;
    margin-bottom: 6px;
    -webkit-transition: all 20ms ease-out;
    transition: all 20ms ease-out;
    vertical-align: top;
}
.button-blue {
    background-color: #42b0e3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#42b0e3), to(#2ba9e3));
    background-image: linear-gradient(to bottom, #42b0e3, #2ba9e3);
    border: 1px solid #107db0;
    -webkit-box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3, 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-blue:hover, .button-blue:focus {
    background: #2ba9e3;
    border-color: #004c6f;
    -webkit-box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3;
    box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3;
}
.button-blue:active {
    background: #2ba9e3;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-blue .fa {
    color: #107db0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-green {
    background-color: #97cc76;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#97cc76), to(#8bcc62));
    background-image: linear-gradient(to bottom, #97cc76, #8bcc62);
    border: 1px solid #5f993a;
    -webkit-box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-green:hover, .button-green:focus {
    background: #8bcc62;
    border-color: #326612;
    -webkit-box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b;
    box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b;
}
.button-green:active {
    background: #8bcc62;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-green .fa {
    color: #5f993a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}


.button .fa {
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin: -1px 8px 0 -4px;
    vertical-align: top;
}

.button-green .fa {
    color: #5f993a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button .fa {
    color: #ffffff;
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.button-orange {
    background-color: #f58a38;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f58a38), to(#f57c20));
    background-image: linear-gradient(to bottom, #f58a38, #f57c20);
    border: 1px solid #c25706;
    -webkit-box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851, 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-orange:hover, .button-orange:focus {
    background: #f57c20;
    border-color: #773300;
    -webkit-box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851;
    box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851;
}
.button-orange:active {
    background: #f57c20;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-orange .fa {
    color: #c25706;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.button-red {
    background-color: #ed6d64;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ed6d64), to(#ed574c));
    background-image: linear-gradient(to bottom, #ed6d64, #ed574c);
    border: 1px solid #ba3329;
    -webkit-box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b, 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-red:hover, .button-red:focus {
    background: #ed574c;
    border-color: #870c03;
    -webkit-box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b;
    box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b;
}
.button-red:active {
    background: #ed574c;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-red .fa {
    color: #ba3329;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.button-gray {
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f2f2f2));
    background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #8c8c8c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 11px 18px 11px;
    -webkit-transition: all 20ms ease-out;
    transition: all 20ms ease-out;
    vertical-align: top;
}
.button-gray:hover, .button-gray:focus {
    background: #f2f2f2;
    border-color: #8c8c8c;
    -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
}
.button-gray:active {
    background: #f2f2f2;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-gray .fa {
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.button-1 {
    -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 13px 18px 13px;
    margin-bottom: 6px;
    -webkit-transition: all 20ms ease-out;
    transition: all 20ms ease-out;
    vertical-align: top; }
.btn-youtube{color:#fff;background-color:#DC2725;border-color:rgba(0,0,0,0.2)}.btn-youtube:hover,.btn-youtube:focus,.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube{color:#fff;background-color:#B21E1C;border-color:rgba(0,0,0,0.2)}
.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube{background-image:none}
.btn-youtube.disabled,.btn-youtube[disabled],fieldset[disabled] .btn-youtube,.btn-youtube.disabled:hover,.btn-youtube[disabled]:hover,fieldset[disabled] .btn-youtube:hover,.btn-youtube.disabled:focus,.btn-youtube[disabled]:focus,fieldset[disabled] .btn-youtube:focus,.btn-youtube.disabled:active,.btn-youtube[disabled]:active,fieldset[disabled] .btn-youtube:active,.btn-youtube.disabled.active,.btn-youtube[disabled].active,fieldset[disabled] .btn-youtube.active{background-color:#DC2725;border-color:rgba(0,0,0,0.2)}
.btn-youtube .badge{color:#DC2725;background-color:#fff}
.play::after {
    border-style: solid;
    border-width: 1em 0 1em 1.732em;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
    content: ' ';
    font-size: 0.75em;
    height: 0;
    margin: -1em 0 0 -0.75em;
    top: 50%;
    position: absolute;
    width: 0;
}

.main.inner .content .content-menu img:hover {
    opacity:0.8;
    -moz-opacity:0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
    background-color:black;
}
.content h1 {    font-size: 18px;
    font-style: italic;}
/* Стили модального окна и содержания
-------------------------------------------------------------------------------*/

/* слой затемнения */

.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;

    width: 100%;
    height: 100%;
    z-index: 1000;
}
/* активируем модальное окно */

.dm-overlay:target {
    display: block;
    -webkit-animation: fade .6s;
    animation: fade .6s;
}
/* блочная таблица */

.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}
/* ячейка блочной таблицы */

.dm-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* модальный блок */

.dm-modal {
    display: inline-block;
    padding: 10px;
    max-width: 50em;
    margin: 8px;
    background: white;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: #353535;

}
/* изображения в модальном окне */

.dm-modal img {

    height: auto;
}
/* миниатюры изображений */

.pl-left,
.pl-right {
    width: 25%;
    height: auto;
}
/* миниатюра справа */

.pl-right {
    float: right;
    margin: 5px 0 5px 15px;
}
/* миниатюра слева */

.pl-left {
    float: left;
    margin: 5px 15px 5px 0;
}
/* встраиваемое видео в модальном окне */

.video {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* рисуем кнопарь закрытия! */

.close {
    z-index: 9999;
    float: right;
    width: 30px;
    height: 30px;
    color: #cfd8dc;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    cursor: pointer;
}
.close:after {
    display: block;
    border: 2px solid #cfd8dc;
    border-radius: 50%;
    content: 'X';
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
}
/* кнопка закрытия при наведении */

.close:hover:after {
    border-color: #fff;
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* варианты фонвой заливки модального блока */

.green {
    background: #388e3c!important;
}
.cyan {
    background: #0097a7!important;
}
.teal {
    background: #00796b!important;
}
/* движуха при появлении блоков с содержанием */
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

/*New style*/

.close-menu{
    display: none;
}
.fixed-menu{
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 50px;
    -webkit-box-shadow: 0px -4px 3px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -4px 3px 4px rgba(50, 50, 50, 0.75);
}
.category-open, .close-category{
    display: none;
}
.basket-pc{
    display: block!important;
}
.basket-mob{
    display: none!important;
}


.basket-popup-fixed{
    z-index: 1250;
}
.pop{
    z-index: 1300;
}
body{
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
#content{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.footer{
    margin-top: auto;;
}
.basket-items {
    background: url('../img/shopping-cart.svg') left center no-repeat!important;
    background-size: 20px!important;
    padding-left: 30px!important;
}

.menus .intro .basket-items{
    margin: 0;
}

span.newPrice{
    border-bottom: none!important;
    color: #F44336!important;
    margin-bottom: 5px;
    margin-left: 3px;
    display: inline-block;
}
.category-intro h1{
    margin-top: 0;
    margin-bottom: 0;
}

.error-page__wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.sidebar-title{
    padding: 20px;
    overflow: hidden;
    line-height: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: #a22626;
    color: #fff;
    border-bottom: 8px solid #fff;
}

.d-none{
    display: none;
}